.right-profile{
    background-color: #F5F5F5;
    margin-top: -50px;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}
.make-me-sticky {
      position: sticky;
      top: 0;
  }
.field-profile{
    background-color: white;
    max-width: 850px;
    min-height: 636px;
}